@charset "utf-8";
@use "../../../styles/_config" as *;

.search{
	margin-top: 80px;

	// 검색바 서식
	.searchBar{
		position: relative;
		[type="search"]{
			-webkit-appearance:textfield;
		}
		[type="search"]::-webkit-search-cancel-button,
		[type="search"]::-webkit-search-results-button{
			display: none;
		}
		label{display: none;}
		input{
			width: 100%; height: 3rem;
			border-radius: 25px;
			border: none;
			border: 2px solid $colorPrimary;
			text-indent: 2rem;
			caret-color: transparent;
		}
		// 검색 아이콘 서식
		.searchBtn{
			background: none; border: none;
			position: absolute; right: 1rem;
			top: 50%; transform: translateY(-50%);
			svg{
				font-size: 20px;
				fill: $colorDKGray;
				cursor: pointer;
			}
		}
	}
	// 탭메뉴 서식. MyBuynSell 서식 가져옴
	.myTabMenu{
		border-bottom: 2px solid $colorSmGray;
		>li{
			font-size: 1rem !important;
			font-weight: 500 !important;
			width: 42%;
			&.active{
				margin-bottom: -2px;
				border-bottom: 2px solid $colorDKGray;
				background: none !important;
				color: $colorDKGray !important;
			}
		}
	}
	// 최근 검색어 영역 서식
	.searchTab>p{
		margin: 1rem auto;
		@include fontText03;
		color: $colorDKGray;
	}
	.recentSearch{
		display: flex;
		justify-content: start;
		align-items: center;
		padding-left: 1rem;
		gap: 1rem;
		border-bottom: 1px solid $colorSmGray;
		height: 3rem;
		@include fontText03;
		color: $colorMdGray;
		svg{
			@include fontText01;
			fill: $colorMdGray;
		}
	}
}