@charset "utf-8";
@use "../../../styles/_config" as *;
// 더보기 버튼 클릭 시 서식
.writeCategory{
	width: 120px; height: 135px;
	position: fixed;
	bottom: 185px; right: 15px;
	border-radius: 10px;
	border: none;
	background: $colorWhite;
	text-align: center;

	// 폰트색상 변경 안되면 이미지나 svg가져오겠습니다
	>a{
		display: block;
		border-bottom: 1px solid $colorSmGray;
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 12px;
	}
	>a:last-child{border-bottom: none;}
}