@import '../../../styles/_config';

.headerWrap {
  position: fixed; 
  top: 0; left: 0; right: 0;
  z-index: 100;
  
  display: flex;
  justify-content: center; 

  width: 100vw;
  background-color: $colorLgGray;
  height: calc(2.5rem + env(safe-area-inset-top)); 
  padding: env(safe-area-inset-top) 0 0 0;
  box-sizing: border-box;
  overflow-x: hidden;

  &.hide { transform: translateY(-100%); }

  .headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $mobileMaxWidth;
    height: 100%;

    .headerLeft, .headerRight {
      width: 40px; 
      display: flex;
      align-items: center;
      padding: 0 0.938rem;

      img { 
        max-height: 28px;
        object-fit: contain;
      }
    }

    .headerTitle { 
      @include fontHead02; 
      flex: 1;
      text-align: center;
    }
    
    .headerRight { justify-content: flex-end; }
  }

  .headerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;

    svg { font-size: 1.5rem; }
  }
}