@use '../../../styles/__config' as *;
@use '../../../styles/__config2' as *;

.addressSearchBox {
  width: 100%;
  display: flex;
  align-items: center;
  /* input과 버튼 세로 정렬 */
  gap: 8px;
  /* input - button 간격 */
  position: relative;
  top: 40px;
  height: 50px;

  >label {
    display: none;
  }

  >input {
    width: 100%;
    min-width: 360px;
    border-radius: 30px;
    height: 50px;
    box-sizing: border-box;
    text-indent: 20px;
    border: none;
    box-shadow: $bottomShadow;
    @include webFontText03;

  }

  .searchBtn {
    position: absolute;
    right: 3%;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: $colorDKGray;
  }
}

.addressValueWrap {
  width: 100%;
  min-width: 360px;
  margin-top: 60px;
  line-height: 30px;

  .neighbor {
    @include fontText02;
    color: $colorMdGray;
  }

  .addressValue {
    margin-top: 20px;

    .searchMessage {
      @include fontText03;
      color: $colorDKGray;
      text-align: center;
      margin-top: 250px;
    }

    .value {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        @include fontText03;
      }
      .checkBtn{
        font-size: 16px;
        svg{color:$colorPrimary}
      }
      &::after {
        content: '';
        position:absolute;
        left: -4.3%;
        width: 100vw;
        border-bottom: 1px solid $colorSmGray;
        display: block;
        max-width: 767px;
        min-width: 390px;
        transform: translateY(25px);
      }
    }
  }
}

.formButtonWrapper{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 70px;
  align-items: center;
  height: 70px;
  width: 100%;
  a{
    @include linkButtonHalf($colorMdGray);
    display: inline-block;
    line-height: 50px;
    text-align: center;
  }
  button{
    @include linkButtonHalf($colorPrimary);
    cursor: pointer;
    &:disabled{cursor: default;}
  }
}