@use '../../../styles/__config' as *;
@use '../../../styles/__config2' as *;
.bodyChild{position: relative;}
.authPageHeaderStyle{
  height: 80px;
  h2{
    @include fontHead01;
    text-align: center;
    line-height: 80px;
  }
}
main{
  width: 100%;
}
.authForm{
  > legend{font-size: 0px;}
  > fieldset{
    .formTextWrapper{
      margin: 10px 0;
      label{@include fontText02; line-height: 30px;}
      input{
        @include formTypeText;
      }
      .errMassage{
        @include fontText04;
        color: $colorEtcRed;
        line-height: 30px;
      }
    }
    .formButtonWrapper{
      background-color: $colorLgGray;
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      position: absolute;
      padding-bottom: 15px;
      bottom: 0px;
      padding: 0 30px;
      transform: translateX(-30px);
      align-items: center;
      height: 70px;
      width: 100%;
      a{
        @include linkButtonHalf($colorMdGray);
        display: inline-block;
        line-height: 50px;
        text-align: center;
      }
      input{
        @include linkButtonHalf($colorPrimary);
        cursor: pointer;
      }
    }
  }
}
