@charset "utf-8";
@use "../../../styles/_config" as *;

.myTabMenu{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
	margin: 0 calc(-50vw + 50%);
	border-bottom: 2px solid $colorPrimary;
	>li{
		width: 33%; height: 50px;
		text-align: center;
		background: $colorWhite;
		line-height: 50px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
}
