@charset "UTF-8";
@use '../../../styles/_config' as*;
@use '../../../styles/_config2' as*;

.myProfile{
	// 공통 div서식
	.myContainer{
		border-radius: 20px;
		background: $colorWhite;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 30px;
		padding-bottom: 30px;
		margin: 20px auto;
	}
	// 회원 프로필정보 영역 서식
	.myProfileCheck{
		@include fontText04;
		>h3 img{
		width: 67px; height: 67px;
		margin-top: 5%;
		}
		>a{
			@include linkButtonHalf($colorLgGray);
			display: block;
			line-height: 50px;
			text-align: center;
			color: $colorDKGray;
			box-shadow: $bottomShadow;
			@include fontText02;
			width: 90%;
			margin-top: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.myProfileCheckAlign{
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			@include fontText03;
		}
	}
	// 유저 사용등급란 서식
	.myUserClass{
		position: relative;
		svg{
			font-size: 1.2rem;
			position: absolute;
			right: 5%;
			top: 5%;
		}
		>img{
			width: 68px; height: 68px;
			object-fit: cover;
			margin-bottom: 20px;
		}
		@include fontText03;
		>p>span{
			@include fontText01;
			color: $colorPrimary;
		}
	}
	// 판매한 제품란 서식
	.mySell{
		h3{
			@include fontText02;
			align-self: flex-start;
			margin-left: 5%;
			margin-bottom: 20px;
		}
	}
	.mySwipeContainer{
		display: flex;
		overflow-x: hidden;
		width: 90%;
		gap: 10px;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		scroll-behavior: smooth;
		&::-webkit-scrollbar{display: none;}
		.mySwipeItem{
			width: 80px;
			>img{
				width: 80px; height: 80px;
				border-radius: 6px;
				object-fit: cover;
			}
			>p:first-of-type{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: clip;
			}
			>p:last-of-type{
				@include fontText04;
			}
		}
	}

	// 리뷰 영역 서식
	.userReviewWrapper{
		border-radius: 20px;

		background: $colorWhite;
		padding: 30px 5%;
		margin: 20px auto;
		>h3{
			margin-bottom: 15px;
		}
		.userReview{
			display: flex;
			gap: 15px;
			width: 90%;
			
			>img{
				width: 30px; height: 30px;
				border-radius: 50%;
				object-fit: cover;
			}
			.userReviewContent{
				line-height: 20px;
				>p{
					margin-top: 15px;
					margin-bottom: 20px;
					padding-bottom: 20px;
					border-bottom: 1px solid $colorSmGray;
				}
			}
		}
		.userReview:last-of-type .userReviewContent>P{
			border-bottom: none;
		}
	}
}