@charset "utf-8";
@use "../../../styles/_config" as *;
@use "../../../styles/_config2" as *;

.myProfileEdit{
	@include fontText02;
	margin: 30px auto;

	.editUser{
		
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin: auto 35%;
		max-width: 140px;
		
		>img{width: 135px; height: 135px;}
		// 카메라 아이콘 영역 서식
		.fileWrapper{
			position: absolute;
			right: 0; bottom: 0px;
			width: 40px; height: 40px;
			border: none;
			border-radius: 50%;
			object-fit: cover;
			text-align: center;
			@include fontText04;
				color: $colorWhite;
			cursor: pointer;
			// type=file 지움
			.file{
				opacity: 0;
				position: absolute;
				width: 0; height: 0;
			}
		}
	}
	// 변경할 닉네임 서식
	>p{margin: 20px auto; }
	.userName{@include fontText02;}
	.inputForm{
		@include formTypeText;
	}
	// 사용자 정보 표시영역 서식
	.myContainer{
		border-radius: 20px;
		background: $colorWhite;



		padding-top: 30px;
		padding-bottom: 30px;
		margin: 20px auto;
	}
	.checkProfile{
		>dl{
			margin-left: 5%;
			.checkProfileItem{
				display: flex;
				justify-content: flex-start;
				margin: 15px auto;
				>dt{width: 15%; border-right: 1px solid $colorDKGray;}
				>dd{
					margin-left: 20px;
					@include fontText03;
				}
			}
		}
	}
	>button{
		@include linkButtonHalf($colorPrimary);
		width: 100%;
		margin-top: 50px;
	}
}