@charset "UTF-8";
@use "../../../styles/_config" as*;
@use "../../../styles/_config2" as*;


.submitReport{
	padding-top: 60px;
	h3{
		@include fontText01;
		margin: 3rem 0;
	}
	ul{
		li:first-child{border-top: 2px solid $colorSmGray;}
		li:last-child{border-bottom: 2px solid $colorSmGray;}
		li{
			width: 100vw;
			margin-left: calc(-50vw + 50%);
			margin-right: calc(-50vw + 50%);
			display: flex;
			align-items: center;
			height: 3rem;
			border-top: 1px solid $colorSmGray;
			border-bottom: 1px solid $colorSmGray;
			cursor: pointer;
			p{margin-left: 1rem;}
		}
	}
	button{
		position: fixed;
		bottom: 1rem;
		@include linkButtonHalf($colorEtcYellow);
		width: 90%;
	}
	.reasonActive{
		background-color: $colorSmGray;
	}
}