@charset "utf-8";
@use "../../../styles/_config" as *;
*{
	font-family: $fontMain;

	// 공통서식만들어지면 삭제예정
	text-decoration: none;
	color: #333;
}

// 상단 토글버튼 서식
.btnContainer{
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	gap: 15px;
	background: $colorLgGray;
	> button{
		width: 70px;
		height: 35px;
		border: none;
		border-radius: 17.5px;
		background: none;
		font-size: 14px;
		box-shadow: $bottomShadow;
		cursor: pointer;
	}
	.btnActive{
		background: $colorPrimary;
		color: $colorWhite;
	}
}

