@charset "utf-8";
@use "../../../styles/_config" as *;
*{
	font-family: $fontMain;

	// 공통서식만들어지면 삭제예정
	text-decoration: none;
	color: #333;
}

// 로그인 메시지 서식
.loginMessage{
	position: fixed;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  background: $colorDKGray;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 12px;
  color: #fff;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;

	&.fadeOut{
		opacity: 0;
		transform: translateX(-50%) translateY(10px);
	}
}

// 상단 토글버튼 서식
.btnContainer{
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	gap: 15px;
	background: $colorLgGray;
	> button{
		width: 70px;
		height: 35px;
		border: none;
		border-radius: 17.5px;
		background: none;
		font-size: 14px;
		box-shadow: $bottomShadow;
		cursor: pointer;
	}
	.btnActive{
		background: $colorPrimary;
		color: $colorWhite;
	}
}

