@use '../../../../styles/_config' as *;

main{
  
  width: 100%;height: 100%;
}
.loginForm{
  > caption{font-size: 0px;}
  > fieldset{
    .formTypeText{
      label{@include fontText02}
      input{
        width: 100%; height: 50px;
        padding: 10px 0;
        box-sizing: border-box;
        border-radius: 8px;
        border: none;
        box-shadow: $bottomShadow;
      }
    }
    .formTypeButton{
      display: flex;
      justify-content: space-between;
      a,input{
        display: inline-block;
        width: 45%;
        height: 50px;
        border-radius: 8px;
        color: $colorWhite;
      }
      a{
        line-height: 50px;
        text-align: center;
      }
    }
  }
}
