@use '__config' as *;

// input태그 type='text'
@mixin formTypeText {
  width: 100%; height: 50px;
  padding: 10px 0;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  box-shadow: $bottomShadow;
  text-indent: 10px;
  
}

// 하단 버튼(2개일때
@mixin linkButtonHalf($background) {
  width: 48%;
  min-width: 170px;
  height: 50px;
  border-radius: 8px;
  @include fontText01;
  color: $colorLgGray;
  border: none;
  background-color: $background;
}
// ⬆Link(a)태그일때는 아래 항목 추가
// display: inline-block;
// line-height: 50px;
// text-align: center;


// 삭제 모달 서식
.deletePopup{
	width: 100%; height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.5);
	z-index: 999;
	top: 0; left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

  // 텍스트, 버튼 영역
	.deleteModal{
		width: 92%; height: 12rem;
		background: $colorWhite;
		border-radius: 20px;
		text-align: center;
		vertical-align: center;
		>p{
			margin-top: 50px;
			margin-bottom: 50px;
			@include fontText02;
		}
    // 버튼영역
		.deleteBtn{
			display: flex;
			justify-content: center;
			gap: 10px;

			> button{
			width: 40%;
			min-width: 9rem;
			height: 50px;
			border-radius: 8px;
			border:none;
			@include fontText01;
			cursor:pointer;
		}
		> button:first-child{
			background: $colorSmGray;
			color: $colorMdGray;
		}
		>button:last-child{
			background: $colorPrimary;
			color: $colorWhite;
		}
	}
}
}

// 하단 버튼 영역 서식
.bottomBtn{
	display: flex;
	justify-content: center;
	background: $colorLgGray;
	gap: 10px;
	z-index: 10;
	position: fixed;
	width: 100%; height: 80px;
	bottom: 0px; left: 0px;
	box-shadow: $topShadow;
	padding-top: 10px;
	button:first-child{
	@include linkButtonHalf($colorMdGray);
	cursor: pointer;
	}
	button:last-child{
	@include linkButtonHalf($colorPrimary);
	cursor: pointer;
	}
}