@use '__config' as *;

body{
  width: 100%;
  height: 100%;
  @include fontStyle(0.875rem, $weightRegular);
  .bodyParent{
    @include mobileParentLayout;
    background-color: $colorLgGray;
    .bodyChild{
      @include mobileChildBaseLaytout;
    }
  }
  li,ol,ul{list-style: none;}
  a{text-decoration: none; @include fontText03;}
}


