@charset "utf-8";
@use "./_config" as *;
*{
	font-family: $fontMain;

	// 공통서식만들어지면 삭제예정
	text-decoration: none;
	color: #333;
}
.btnContainer{
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	gap: 15px;
	background: $colorLgGray;


	> button{
		width: 70px;
		height: 35px;
		border: none;
		border-radius: 17.5px;
		background: none;
		font-size: 14px;
		box-shadow: $bottomShadow;
		cursor: pointer;

	}
	.btnActive{
		background: $colorPrimary;
		color: $colorWhite;
	}
}

// 글목록
.goodsList{
	background: none;
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid $colorSmGray;
	display: flex;
	gap: 20px;
	> img{
		width: 130px; height: 130px;
		border-radius: 7px;
	}
	.goodsArea{
		width: 100%;
		position: relative;
	}
	.goodsInfo{
		display: flex;
		flex-direction: column;
		gap: 12px;
		>h3{font-size: 16px;}
		>span{font-size: 12px;}
		>p{font-size: 18px;}
	}
	.goodsReaction{
		position: absolute;
		bottom: 0px; right: 0px;
		display: flex;
		gap: 10px;
		font-size: 12px;
	}
}
// 더보기 버튼 서식
.writeBtn{
	border-radius: 50%;
	background: $colorPrimary;
	width: 34px; height: 34px;
	position: fixed;
	z-index: 999;
	bottom:140px; right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	.plusIcon{
		color: $colorWhite;
	}
}