@charset "utf-8";
@use "../../../styles/_config" as *;


// 글목록
.goodsList{
	background: none;
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid $colorSmGray;
	display: flex;
	gap: 20px;
	> img{
		width: 130px; height: 130px;
		border-radius: 7px;
		object-fit: cover;
		flex-shrink: 0;
	}
	.goodsListArea{
		width: 100%;
		position: relative;
	}
	// 텍스트영역
	.goodsListInfo{
		display: flex;
		flex-direction: column;
		gap: 12px;
		>h3{font-size: 16px;}
		>span{font-size: 12px;}
		>p{font-size: 18px;}
	}
	// 좋아요, 댓글 수
	.goodsReaction{
		position: absolute;
		bottom: 0px; right: 5px;
		display: flex;
		gap: 10px;
		font-size: 12px;
		p{
			@include fontText04;
		}
		p>span{
			margin-left: 5px;
			@include fontText04;
		}
	}
}
