@use "../../../styles/_config" as *;

.naviContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $colorWhite;
  box-shadow: $topShadow;
  z-index: 1000;
  display: flex;
  justify-content: center;

  /* 아이폰 하단 홈 바 */
  height: calc(5rem + env(safe-area-inset-bottom));
  padding-bottom: env(safe-area-inset-bottom);
  box-sizing: border-box;

  .naviInner {
    width: 100%;
    max-width: $mobileMaxWidth;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.navItem {
  text-decoration: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $colorMdGray;

  &.active { // 활성화시
    color: $colorPrimary;
    .navLabel {
      font-weight: $weightBold;
    }
  }
}

.naviWrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  .navIcon {
    font-size: 1.5rem;
  }
  .navLabel {
    @include fontText05;
  }
}