@charset "utf-8";
@use "../../../styles/_config" as *;

.searchBar{
		position: relative;
		cursor: pointer;
		[type="search"]{
			-webkit-appearance:textfield;
		}
		[type="search"]::-webkit-search-cancel-button,
		[type="search"]::-webkit-search-results-button{
			display: none;
		}
		label{display: none;}
		input{
			width: 100%; height: 3rem;
			border-radius: 25px;
			border: none;
			text-indent: 2rem;
			caret-color: transparent;
			box-shadow: $bottomShadow;
		}
		// 검색 아이콘 서식
		.searchBtn{
			background: none; border: none;
			position: absolute; right: 1rem;
			top: 50%; transform: translateY(-50%);
			svg{
				font-size: 20px;
				fill: $colorDKGray;
				cursor: pointer;
			}
		}
	}