@use '../../../styles/_config' as *;

.noticeEventPage {

  .tabContainer {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;

    .tabButton1 { 
      padding: 10px 31px;}
    .tabButton2 { 
      padding: 10px 24px;}

    .tabButton1, .tabButton2 {
      border-radius: 12px;
      border: 1px solid $colorSmGray;
      background-color: $colorWhite;
      cursor: pointer;
      @include webFontText02;
      transition: all 0.2s ease;

      &.active {
        background-color: $colorPrimary;
        color: $colorWhite;
        border-color: $colorPrimary;
      }

      &:hover:not(.active) {
        background-color: $colorLgGray;
      }
    }
  }

}

// 글쓰기 버튼 

.writeButtonWrap {
  display: flex;
  justify-content: flex-end;
  margin-top: -36px;
}

.writeButton {
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  background-color: #4a6cf7;
  color: #fff;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: #3957d6;
  }
}
