@use "../../../styles/_config" as *;
.chatPageWrap{
  // 상단 토글버튼 서식
  .btnContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    background: $colorLgGray;
    > button{
      padding-left: 1rem;
      padding-right: 1rem;
      height: 35px;
      border: none;
      border-radius: 17.5px;
      background: none;
      font-size: 14px;
      box-shadow: $bottomShadow;
      cursor: pointer;
    }
    .btnActive{
      background: $colorPrimary;
      color: $colorWhite;
    }
  }
}
