@use "../../../styles/_config" as *;

// 채팅방
.chatRoomWrap{
  height: 100%;
  min-height: 100dvh;
  width: 100dvw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background-color: $colorPrimary;
  .chatRoomOut{
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
    .chatRoomIn{
      width: 92%;
      min-width: 360px;
      margin: 0 auto;
    }
  }
}