@use "../../../styles/_config" as *;

.chatPageWrap {
  margin-top: 100px;
  // 상단 토글버튼 서식
  .title3 {
    width: 100%;
    height: 100px;
    position: relative;
    top: 100px;
    h2{
      @include fontHead02;
    }
  }

  .btnContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    background: $colorLgGray;

    >button {
      padding-left: 1rem;
      padding-right: 1rem;
      height: 35px;
      border: none;
      border-radius: 17.5px;
      background: none;
      font-size: 14px;
      box-shadow: $bottomShadow;
      cursor: pointer;
    }

    .btnActive {
      background: $colorPrimary;
      color: $colorWhite;
    }
  }

}
